<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h1>Minecraft Server</h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Dokumentation</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      Minecraft Version:
    </div>
    <div class="col-3">
      1.12.2
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      Adresse:
    </div>
    <div class="col-3">
      server.rynkbit.com:31032
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr>
      <h2>Modpack</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      Download:
    </div>
    <div class="col-3">
      <a href="/assets/modpack.zip">Hier klicken</a>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      Mods:
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      Diese Mod-Liste wurde automatisch aus den, in den Mods enthaltenen, mcmod.info Dateien generiert.
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2" *ngFor="let mod of mods">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <b>{{mod.name}}</b>
          </div>
          <div class="row">
            <div class="col-12">
              <a href="{{mod.link}}">Website</a>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              Authoren:
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              {{mod.author}}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
